[log]
log_level="info"
#log_file="/var/log/miuturn.log"

[server]
realm = "miuda.ai"
external_ip = "0.0.0.0"
relay_bind_ip = "0.0.0.0"
start_port = 49152
end_port = 65535

[[server.listening]]
protocol = "udp"
address = "0.0.0.0:3478"

#[[server.listening]]
#protocol = "tcp"
#address = "0.0.0.0:3478"

#[http]
#address = "0.0.0.0:8080"

[[auth.users]]
username = "miuturn.admin"
password = "miuturn.pwd.changeme"
user_type = "fixed"
max_allocations = 10

[[auth.acl_rules]]
ip_range = "0.0.0.0/0"
action = "allow"
priority = 0